{% extends "base.html" %}
{% load static %}
{% block title %}Início{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<div id="content">
    <div class="container">
        <div class="alert alert-info">
            <a href={% url 'create_categoria' %} class="btn btn-primary mr-2"> <i class="fa fa-plus"></i> Novo categoria</a>
            Categorias encontradas [{{ categorias | length }}]
        </div>
        {% for categ in categorias %}
        <div class="row">
            <h5 class="col-md-3">{{categ.Categoria}}</h5>
            <a href={% url 'details_categoria' categ.id %} class="btn btn-primary mb-2 mr-2"><i class="fa fa-search"></i> Ver</a>
            <a href={% url 'edit_categoria' categ.id %} class="btn bg-secondary mb-2 mr-2"><i class="fa fa-edit"></i> Editar</a>
            <a href={% url 'delete_categoria' categ.id %} class="btn btn-warning mb-2"><i class="fa fa-sign-in"></i> Apagar</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}